/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1b1b1e;
    color: #d8dbe2;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
a {
    background-color: transparent;
    color: #d8dbe2;
}

a:hover, a:focus, a:active {
    background-color: transparent;
    color: #d8dbe2;
    text-decoration:none;
}

/* Navbar - The Main NavBar */

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #d8dbe2;
    background-color: transparent;
    border-radius: 0;
    display: inline;
    padding:15px 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Last Hundred*/
.lasthundred {
    font-size: 16px;
}

.lasthundred img {
    border-radius: 50%;
}

.tweetLink {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    background-color: #1b1b1e;
    color: #d8dbe2;
    display: block;
    padding:0.5em;
}

.tweetLink a {
    display: block;
    height: 100%;
    border-radius: 1em;
    text-decoration: none;
    color: #d8dbe2;
    padding:0.5em;
}

.tweetlink a:active, a:hover, a:focus {
    background-color: #2f2f32;
    display: block;
    border-radius: 0.5em;
}

.dateTweet {
    border-radius: 0.5em;
    padding-top: 10px;
    margin: 0;
    text-align: right;
    font-size: 0.5em;
}


.profileDesc {
    font-size: 0.7em;
}

.replyToName{
    font-size: 0.7em;
}

.quotedTweet {
    font-size: 0.7em;
    background-color: #2f2f32;
    padding: 0.5em;
    border-radius: 0.5em;
}

/*User Account View | Login | ETC */

.form-group a {
    color: #fff;
    background-color: transparent;
}
.form-group a:hover, .form-group a:focus, .form-group a:active {
    color: #d8dbe2;
    background-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #2f2f32;
}

.btn-link {
    font-weight: 400;
    color: #d8dbe2;
    border-radius: 0;
}

.btn-link:focus, .btn-link:hover {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
}

/*Footer NAV*/




/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
