/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #440c50;
    color: #e3e7d3;
    font-family: 'Roboto', sans-serif;
    font-size:1em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    background-color: transparent;
    color: #e3e7d3;
}

a:hover, a:focus, a:active {
    background-color: transparent;
    color: #d8dbe2;
    text-decoration:none;
}

/*Main Elements*/
footer{
    padding-top:15px;
    margin:0 auto;
    width:50%;
    text-align:center;
}
/*Buttons // Interactions*/
.btn-default {
    color: #e3e7d3;
    background-color: #27182b;
}
/*HRs*/
hr.IndexHR {
    color: #440c50;
    margin-top: 5px;
    margin-bottom: 2px;
    border-top: 1px solid #440c50;
}

.btn-default:hover {
    background-color: #e3e7d3;
}


/* Navbar - The Main NavBar */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #d8dbe2;
    border-radius: 0;
    display: inline;
    padding:15px 15px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #27182b;
}

.navbar-inverse {
    background-color: #27182b;
}

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #27182b;
    }

.navbar-inverse .navbar-toggle {
    border-color: #27182b;
}

.navbar-toggle {
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0;
}

.navbar-right i{
    font-size:1.25em;
}

.navbar-right a {
    font-size: 1.25em;
}

/*Text format*/
h4 {
    color: #440c50;
    font-size: 0.1em;
    margin-bottom: 5px;
    border-radius: 15px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-family: "Roboto",sans-serif;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
    letter-spacing: 2px;
    opacity: 1;
}





/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Last Hundred*/
.lasthundred {
    font-size: 1.5em;
    margin: 0 auto;
    margin-top:20px;
}

.lasthundred img {
    border-radius: 50%;
}

#tweetLink {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    background-color: #27182b;
    color: #d8dbe2;
    display: block;
    padding: 0.5em;
    transition: width 1s, font-size 1s;
    -webkit-transition: width 1s, font-size 1s; /* Safari 3.1 to 6.0 */
    -moz-transition: width 1s, font-size 1s;
    -o-transition: width 1s, font-size 1s;
    margin: 0.5em auto;
    width: 85%
}

#tweetLink:hover {
        width:90%;
        font-size:1.2em;
}

a.tweetLink {
        display: block;
        height: 100%;
        border-radius: 1em;
        text-decoration: none;
        color: #d8dbe2;
        padding: 0.5em;
}

a.tweetLink:active, a.tweetLink:hover, a.tweetLink:focus {
        background-color: #27182b;
        display: block;
        border-radius: 0.5em;
}

.dateTweet {
    border-radius: 0.5em;
    padding-top: 10px;
    margin: 0;
    text-align: right;
    font-size: 0.5em;
}

.profileDesc {
    font-size: 0.7em;
}

.replyToName{
    font-size: 0.7em;
}

.quotedTweet {
    font-size: 0.7em;
    background-color: #440c50;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #e3e7d3;
}

.dataBaseProfile {
    font-size: 1em;
    text-align: center;
    padding-left: 6px;
    float: right;
}


a.dataBaseProfile:hover, a.dataBaseProfile:focus, a.dataBaseProfile:active {
    font-size: 2em;
    text-align: center;
}
/*User Account View | Login | ETC */
.form-group a {
    color: #fff;
    background-color: transparent;
}

.form-group a:hover, .form-group a:focus, .form-group a:active {
    color: #d8dbe2;
    background-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #2f2f32;
}

.btn-link {
    font-weight: 400;
    color: #d8dbe2;
    border-radius: 0;
}

.btn-link:focus, .btn-link:hover {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
}

.btn-twitter{
    margin:0 auto;
    width:150px;
}

.form-horizontal{
    width:150px;
    margin:0 auto;
}
/*Cookie Consent*/
#cookieConsent {
    position: relative;
    bottom: 10px;
    background-color: #27182b;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    display:inline;
}

/*Old Stuff*/

.verified {
    text-align:center;
}


.websiteLink{
    padding:0;
    margin:0;
}

a.imageLink {
    text-align: center;
}

a.imageLink img {
    text-align: center;
}

a.imageLink p {
    padding-top:5px;
    padding-bottom:5px;
    font-size:1.25em;
}

.alignCenter {
    text-align: center;
}

.twitterUserPosition {
    color: #27182b;
    font-size: 1.3em;
}

/*
    TwitterUserMainVIew
*/

.twitterUserMainView {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #27182b;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: width 1s, font-size 1s;
    -webkit-transition: width 1s, font-size 1s; /* Safari 3.1 to 6.0 */
    -moz-transition: width 1s, font-size 1s;
    -o-transition: width 1s, font-size 1s;
    font-size: 1.5em;
}


    .twitterUserMainView:hover {
        width: 90%;
        font-size: 1.8em;
    }



.twitterUserMainView p {
    margin: 0;
    background-color: #27182b;
    padding: 5px;
}

.twitterUserLink{
    background-color:#18024f;
}

.twitterUserScreenName {
    font-size: 1em;
}

.twitterUserDesc {
    font-size: 0.76em;
    padding-left:53px;
}

.twitterUserCounts {
    padding-left: 53px;
    font-size:0.8em;
}

.twitterUserLocation {
    font-size: 0.74em;
    text-transform: capitalize;
    padding: 0 !important;
}

.twitterUserImage{
    border-radius:50%;
    float:left;
    padding-right:5px;
}

.twitterProfileBanner {

    padding-right: 5px;
    width:100%;
    height:100%;
}

.twitterUserSearch {
    margin: 0 auto !important;
    width: 320px;
    padding: 5px;
}

.twitterUserSearchInput {
    width: 25%;
    border-radius: 15px;
    color: #e3e7d3;
    background-color: #27182b;
    border: 0;
    padding: 5px;
    padding-bottom: 5px;
    height: 22px;
}







.twitterUserPageing{
    width:112px;
    margin:0 auto;
}

.twitterUserFilter {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    color: #e3e7d3;
    -webkit-transition: color 2s, font-size 2s;
    -moz-transition: color 2s, font-size 2s;
    -o-transition: color 2s, font-size 2s;
    transition: color 2s, font-size 2s;
}


/*Interaction Menu*/
.interactionMenu {
    padding-top: 10px;
    font-size: 4.5em;
}

.interactionMenuBar {
    text-align: center;
    margin: 0 auto;
    height: 46px;
    padding: 5px;
}




/*Icon for TweetLists*/
.socialIconsIndex {
    font-size: 0.72em;
    margin: 0;
    color: #e3e7d3;
}

.socialIconsIndex i {
    padding-right:2px;
    padding-top:5px;
}
/*Icon Menu*/
.iconHoverPages {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    color: #27182b;
    margin-top: 10px;
    padding-top: 5px;
    -webkit-transition: color 0.5s, font-size 0.5s !important;
    -moz-transition: color 0.5s, font-size 0.5s !important;
    -o-transition: color 0.5s, font-size 0.5s !important;
    transition: color 0.5s, font-size 0.5s !important;
}

.iconHoverPagesPeopleDetail {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    color: #e3e7d3;
    margin-top: 10px;
    padding-top: 5px;
    -webkit-transition: color 0.5s, font-size 0.5s !important;
    -moz-transition: color 0.5s, font-size 0.5s !important;
    -o-transition: color 0.5s, font-size 0.5s !important;
    transition: color 0.5s, font-size 0.5s !important;
}



.iconHoverPages:hover {
    font-size: 32px;
    color: #e3e7d3;
}

.iconHoverPagesPeopleDetail:hover {
    font-size: 32px;
    color: #e3e7d3;
}
/*Footer NAV*/
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*Icon Bar*/
.icon-bar {
    width: 90px;
    background-color: #555;
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }



/*PeopleDetail View*/

.TwitterUserTimline{
    margin:0 auto;
    width:65%;
    border-radius:15px;
    background-color:#27182b;
    padding:15px;
    margin-top:5px;
}

.redBG {
    background-color: #440c50!important;
    width: 100% !important;
}

.redBG:hover {
    background-color: #440c50 !important;
    width:100% !important;
}

a.TwitterUserTimeline:active, a.TwitterUserTimeline:hover, a.TwitterUserTimeline:focus {
    background-color: #440c50;
    display: block;
    border-radius: 0.5em;
}

.h4Down{
    margin-top:15px;
}

/*Administration View*/

.adminMainView {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #27182b;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 1.0em;
}

.adminMainView input {
        color:#27182b;
        border-radius:5px;
        padding:5px;
        border:0;
        height:34px;
        font-size:14px;
        width:100%;
}

.settingsView{
margin:0;
}

.settingsView p {
    margin:0;
}

.settingsView label{
    margin-top:5px;
}

.emailSettingsView {
margin:0;
}

.emailSettingsView p {
  margin:0;
}

.emailSettingsView label {
    margin-top: 5px;
}

.settingsContainer{
    margin:0;
}

.userOverview{  
    margin:0;
}

.space{
    clear:both;
    widtH:100%;
}

input.settingssubmit{
    width:100%;
}

/*AccountMainView*/

.accountMainView {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #27182b;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 1.0em;
    margin-top:15px;
}

/*GlobalChart View*/

.GlobalChartView {
    margin: 0 auto;
    width: 95%;
    border-radius: 15px;
    background-color: #27182b;
    padding: 15px;
    margin-top: 5px;
}

/*UserStream*/
.userStreamView {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #27182b;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 1.0em;
}

    .userStreamView input {
        color: #27182b;
        border-radius: 5px;
        padding: 5px;
        border: 0;
        height: 34px;
        font-size: 14px;
        width: 100%;
    }

.userStreamView button {
    margin-top:5px;
    border-radius:5px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;

    }

    .twitterUserPosition {
        color: #27182b;
        font-size: 1.3em;
        text-align: center;
    }

}

@-webkit-keyframes example {
    0% {
        color: #fbfbfb;
        opacity: 1;
        font-size:1.25em;
    }

    25% {
        color: #27182b;
        opacity: 1;
        font-size:1.25em;
    }

    50% {
        color: #e3e7d3;
        opacity: 1;
        font-size: 1.25em;
    }

    75% {
        color: #e3e7d3;
        opacity: 1;
        font-size: 1.25em;
    }

    90% {
        color: #440c50;
        opacity: 0.5;
        font-size: 1.25em;
    }

    100% {
        color: #440c50;
        opacity: 0;
        font-size: 0.5em;
    }
}

/* Standard syntax */
@keyframes example {
    0% {
        color: #fbfbfb;
        opacity: 1;
        font-size: 1.25em;
    }

    25% {
        color: #27182b;
        opacity: 1;
        font-size: 1.25em;
    }

    50% {
        color: #e3e7d3;
        opacity: 1;
        font-size: 1.25em;
    }

    75% {
        color: #e3e7d3;
        opacity: 1;
        font-size: 1.25em;
    }

    90% {
        color: #440c50;
        opacity: 0.5;
        font-size: 1.25em;
    }

    100% {
        color: #440c50;
        opacity: 0;
        font-size: 0.5em;
    }
}
