################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/KompromatKoffer/bin/netcoreapp2.1
/KompromatKoffer/obj
/KompromatKoffer/Config.cs
