################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/KompromatKoffer/bin/netcoreapp2.1
/KompromatKoffer/obj
/KompromatKoffer/Config.cs
/KompromatKoffer/appsettings.json
/KompromatKoffer/appsettings.Development.json
/KompromatKoffer/bin
/KompromatKoffer/Properties
/KompromatKoffer/Migrations
/KompromatKoffer/Migrations/20180714121324_CreateIdentitySchema.cs
/KompromatKoffer/Migrations/20180714121324_CreateIdentitySchema.Designer.cs
/KompromatKoffer/watchgroup
/KompromatKoffer/Database
/KompromatKoffer/TwitterData.db
/_sql
/KompromatKoffer/logs
