@page
@model KompromatKoffer.Pages.Stream.UserStreamModel
@{
    ViewData["Title"] = "UserStream";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="interactionMenuBar">
    <a asp-page="/Database/People" title="Database" class="iconHoverPages interactionMenu">
        <i class="fas fa-database"> </i>
        &nbsp;
    </a>
    <a asp-page="/Database/Global" asp-route-sinceDays="-7" title="Global Chart" class="iconHoverPages interactionMenu">
        <i class="fas fa-chart-line"></i>
        &nbsp;
    </a>
</div>



<div class="userStreamView">

    <div class="userStreamMainView">

        <input type="button" id="streamButton" value="Start Streaming" />

        <div id="messagesList"></div>

        <!--
            <script src="~/lib/signalr/signalr.js"></script>
            <script src="~/js/stream.js"></script>
         -->


        </div>


    </div>
