@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";


    // Move Disclaimer  to Backend Settings
    // !!!
    // 
}
<div class="disclaimerLoginContainer">
    <h5 class="disclaimerLogin">Nutze deinen TwitterAccount um dich einzuloggen</h5>
    <p class="disclaimerLogin">Der Loginprozess läuft unkompliziert über einen Knopfdruck. Du wirst umgehend auf Twitter weitergeleitet - dort kannst du dich einloggen und wirst zu unerser Seite zurückgeleitet.</p>
    <h5 class="disclaimerLogin">Wir speichern nur Name, Mail und Token von dir.</h5>
        <p class="disclaimerLogin">Wir speichern keinerlei Nutzungsdaten von dir, nur dein Twittername und deine Mailadresse wird uns von Twitter übergeben. Wir können weder in deinem Namen posten noch anderweitig deinen Account beeinflussen. Twitter gibt uns für deinen erfolgreichen Login jediglich ein zusätzliches Token mit dem wir in der Lage sind noch mehr Daten von Twitter zu streamen. Solltest du Fragen bzgl. der Anmeldung oder der Web App haben, schreibe bitte eine Mail an datenkrake@kompromatkoffer.de</p>
        <h5 class="disclaimerLogin">Deine Daten jederzeit einsehen und löschen</h5>
            <p class="disclaimerLogin">Deine Privatsphäre ist uns sehr wichtig, in deinem Useraccount kannst du alle Daten die wir von dir speichern einsehen und löschen.</p>
            <h5>Viel Spaß beim Kompromitieren!</h5>
</div>
            <br />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default btn-twitter" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
