@page
@model KompromatKoffer.Pages.DataScraping.WahlrechtModel
@{
    ViewData["Title"] = "Wahlrecht";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Wahlrecht</h2>



@foreach (var item in Model.INSATable.SelectNodes("//thead"))
        {
            @item.InnerText
            <p></p>
        }

@foreach (var tr in Model.INSATable.SelectNodes("//tr"))
        {
            @tr.InnerText
        }
   




