@page
@model KompromatKoffer.Pages.DataScraping.WahlrechtModel
@{
    ViewData["Title"] = "Wahlrecht";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="iconMenu">
    <a asp-page="/Database/People" title="Politiker Bestenliste" class="iconHoverPages interactionMenu"><i class="fas fa-user-circle"></i></a>
    <a asp-page="/Database/Global" asp-route-sinceDays="-7" title="Politiker Statistik" class="iconHoverPages interactionMenu"><i class="fas fa-chart-line"></i></a>
    <a asp-page="/Database/TweetDatabase" title="Tweet Datenbank" class="iconHoverPages interactionMenu"><i class="fas fa-binoculars"></i></a>
    <a asp-page="/DataScraping/Wahlrecht" title="Sonntagsfrage Bundestagswahl" class="iconHoverPages interactionMenu interActionMenuSmall"><i class="fas fa-person-booth"></i></a>
</div>

<div class="TwitterUserTimline">

    <h5>INSA / YOUGOV</h5>

    @foreach (var tr in Model.INSATable.SelectNodes("//tbody //tr"))
    {

        <a href="">@Html.Raw(tr.InnerText)</a>
        <br />

    }



</div>



