@page
@model KompromatKoffer.Pages.DataScraping.WahlrechtModel
@{
    ViewData["Title"] = "Wahlrecht";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Wahlrecht</h2>

@Html.Raw(Model.OutputBTW)

