@page
@model KompromatKoffer.Pages.Administration.AdministrationModel
@{
    ViewData["Title"] = "Administration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="interactionMenuBar">

</div>

<div class="adminMainView">
    <div class="settingsContainer">
        <div class="settingsView">
            <form id="ListSettings" method="post">
                <h3>Settings</h3>
                <p>
                    <label for="ListSettings.ListName">ListName</label>
                    <input type="text" asp-for="ListSettings.ListName" />
                </p>
                <p>

                    <label for="istSettings.ListOwner">ListOwner</label>
                    <input type="text" asp-for="ListSettings.ListOwner"  />
                </p>
                <p>

                    <label for="ListSettings.TweetsRetrieved">TweetsRetrieved</label>
                    <input type="number" asp-for="ListSettings.TweetsRetrieved"  />
                </p>
                <p>
                    <label for="ListSettings.UpdateDelay">UpdateDelay</label>
                    <input type="number" asp-for="ListSettings.UpdateDelay"  />
                </p>
                <p>

                    <label for="ListSettings.TaskDelay">TaskDelay</label>
                    <input type="number" asp-for="ListSettings.TaskDelay"/>
                </p>

                <p>

                    <label for="ListSettings.TwitterUserUpdateInterval">TwitterUserUpdateInterval</label>
                    <input type="number" asp-for="ListSettings.TwitterUserUpdateInterval" />
                </p>
                <p>

                    <label for="ListSettings.TwitterUserDailyUpdateInterval">TwitterUserDailyUpdateInterval</label>
                    <input type="number" asp-for="ListSettings.TwitterUserDailyUpdateInterval"  />
                </p>
                <p>

                    <label for="ListSettings.TwitterUserDailyTaskDelay">TwitterUserDailyTaskDelay</label>
                    <input type="number" asp-for="ListSettings.TwitterUserDailyTaskDelay"  />
                </p>
                <p>

                    <label for="ListSettings.TwitterUserDailyUpdateDelay">TwitterUserDailyUpdateDelay</label>
                    <input type="number" asp-for="ListSettings.TwitterUserDailyUpdateDelay" />
                </p>
                <br />
                <button type="submit" form="ListSettings" asp-page-handler="Settings" class="btn btn-default">Save Settings</button>
                <br />
            </form>
        </div>

        <div class="emailSettingsView">
            <h3>Email Settings</h3>
            <form  id="SendMailSettings" method="post">
                <p>

                    <label for="SendMailSettings.MailAddress"> Mail Address</label>
                    <input type="text" asp-for="SendMailSettings.MailAddress" />
                </p>
                <p>

                    <label for="SendMailSettings.MailDisplayname">Mail Displayname</label>
                    <input type="text" asp-for="SendMailSettings.MailDisplayname" />
                </p>
                <p>

                    <label for="SendMailSettings.MailHost">Mail Host</label>
                    <input type="text" asp-for="SendMailSettings.MailHost"  />
                </p>
                <p>

                    <label for="SendMailSettings.MailPort">Mail Port</label>
                    <input type="number" asp-for="SendMailSettings.MailPort"  />
                </p>
                <p>

                    <label for="SendMailSettings.Login">Login</label>
                    <input type="text" asp-for="SendMailSettings.Login" />
                </p>
                <p>

                    <label for="SendMailSettings.Password">Password</label>
                    <input type="text" asp-for="SendMailSettings.Password"/>
                </p>
                <br />
                <button type="submit" form="SendMailSettings" asp-page-handler="MailSettings" class="btn btn-default"> Save Mail Settings</button>
                <br />
            </form>
        </div>
        
    </div>
    <hr />
    <div class="userOverview">
        <h5>User</h5>
        @foreach (var user in Model.UserWithRoles)
        {
            <p>
                @user.Username
            </p>
        }
        <p>Total Users @Model.UserWithRoles.Count()</p>
    </div>

    <div class="space"><hr /></div>

    <p>
        TwitterUser last Update: @Config.Parameter.DbLastUpdated.ToString("dd.MM.yy - hh.mm")
    </p>
    <p>
        TwitterUser Daily Update: @Config.Parameter.UserDailyDataLastUpdated.ToString("dd.MM.yy - hh.mm")
    </p>

    
</div>


